.mat-table{
  margin-bottom: 1rem;
}
.mat-header-cell, .mat-footer-cell {
  vertical-align: bottom;
  border-top: 1px solid #dee2e6;
  border-bottom: 2px solid #dee2e6;
}

.mat-cell, .mat-footer-cell, .mat-header-cell {
  padding: .3rem !important;
}


.mat-cell {
  vertical-align: middle;
}

.mat-footer-cell {
  color: black;
  font-size: 12px;
  font-weight: 500;
}

.mat-cell:first-of-type,
.mat-footer-cell:first-of-type,
.mat-header-cell:first-of-type {
  padding-left: 10px !important;
}

/* tr.mat-header-row,
tr.mat-row {
  height: inherit;
} */

@media(max-width: 399px) {
  .mat-paginator-container{
    padding: 0px !important;
  }
  .mat-paginator-range-label{
    margin: 0px !important;
  }

}

@media(max-width: 768px) {
  .mat-cell, .mat-footer-cell, .mat-header-cell {
    padding: .4rem !important;
  }
}


@media(min-width: 768px) {
  tr.mat-header-row,
  tr.mat-footer-row,
  tr.mat-row {
  height: inherit;
  }
}

.mat-row:nth-child(odd) {
  background: rgba(0,0,0,.05)
}

.mat-row:focus,
.mat-row:hover {
  color: #212529;
  background-color: rgba(0,0,0,.075);
}

::ng-deep .mat-checkbox > label.mat-checkbox-layout{
  margin-bottom: unset;
}

.signs{
  font-weight: bolder;
  font-size: large;
}

.expandable-row,
.expandable-row:hover {
  background-color: #fdfdfd;
  min-height: 0px;
  overflow: hidden;

}

.mat-cell-child {
  padding: 0rem !important;

}

tr.mat-row, tr.mat-footer-row {
  height: 0px !important;
}

.toggle {
  width: 10px;
  cursor: pointer;
  padding-left: 0.5rem;
}

#myToolbarGridMaterial {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;   
 
  li {
    float: left;
    padding-left:10px
  }
}

.clsToolbar-40 { height: 40px; }
.clsToolbar-0 { height: 0px; }

